/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #8cdfef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(194, 235, 252);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 60%;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

/* Formulário */
.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

input[type="datetime-local"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #d6fdff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #15adb8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: hwb(190 0% 9%);
}

/* Estilos dos compromissos */
.compromisso-item {
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compromisso-item p {
    font-size: 16px;
    margin: 0;
}

button.remover {
    background-color: #ffaa2b;
    color: rgb(255, 255, 255);
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.remover:hover {
    background-color: #e3cd52;
}